.fade-in {
  animation-duration: 1s;
  animation-name: appearance;
}

@keyframes appearance {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}

#header-avatar {
  border-radius: 25%;
  border: solid 3px black;
}

.experience-card:hover {
  transform: scale(1.05);
}